@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

main {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, #1E3F82 2.6%, #185DE2 27.6%, #A75C5C 100%) no-repeat center center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 90%;
  display: flex;
}

.left {
  width: 40%;
  background: #CE4E65;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.first-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  width: 60%;
  background: #1D3565;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 40px;
}

label {
  font-weight: 600;
  font-size: 16px;
}

input {
  color: #1D3565;
  padding-left: 20px;
  width: 200px;
  height: 30px;
  background: #FFFFFF;
  border: 3px solid #D9D9D9;
  border-radius: 8px;
  margin-top: 10px;
}

input:focus {
  outline: #D9D9D9;
}

input:valid:focus {
  border: 3px solid #45ff5e;
}

input:invalid:focus {
  border: 3px solid #ff4564;
}

button {
  color: #FFFFFF;
  width: 200px;
  height: 30px;
  border: 3px solid #CE4E65;
  border-radius: 8px;
  background-color: #CE4E65;
  cursor: pointer;
}

button:hover {
  background-color: #f84076;
  border: #f84076;
}

.right p {
  font-weight: 600;
}

.login-text {
  font-weight: 600;
  color: #CE4E65;
}

.error {
  padding-top: 10px;
  font-size: 12px;
  color: #ff4564;
  height: 35px;
}

@media (max-width: 1500px) {
  main {
    height: auto;
    padding: 40px 0;
  }

  .container {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .right {
    padding: 20px;
    border-radius: 0 0 10px 10px;
  }

  .left {
    border-radius: 10px 10px 0 0;
  }

  .attribution {
    margin: 20px 0;
  }
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
  }

  .right-p {
    font-size: 15px;
  }

}